# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cb6ca85742026e71bdc8456d8817b481417b54920027052dc610fb37d33e05fdabb11e6d30fe0855dc2a4edda6214656e54168fcf88705de633938298eb6b2a4

test:
  secret_key_base: 1defd2004640e3ed441f42044ac0dc1db27b7a038d1fea3d54a4e4849f099fd974a54714d7e1f740815571bbe36e5c4afba5722208019be9f6d15e3488a3a9a9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
